/qwt/doc/html/
/qwt/doc/latex/

/qwt/designer/moc/
/qwt/examples/*/moc/
/qwt/playground/*/moc/

Makefile
Makefile.Debug
Makefile.Release

*.embed.manifest
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.pdb
*.pro.user
*.rc
*.res

Doxygen.log
